{{!< default}}

<!-- <header id="header" class="header{{#if @blog.cover}} has-cover{{/if}}">
  <div class="inner">
    <a class="header-title" href="{{@blog.url}}">
      <h1 class="header-name">{{@blog.title}}</h1>
      {{#if @blog.description}}
        <span class="header-description">{{@blog.description}}</span>
      {{/if}}
    </a>
  </div>
  {{#if @blog.cover}}
  <div class="header-cover" style="background-image: url({{@blog.cover}})"></div>
  {{/if}}
</header> -->
<header id="header" class="header has-cover">
    <div class="swiper-container">
        <div class="swiper-wrapper">
        {{#get "posts" filter="featured:true" limit="all" as |featured|}}
            {{#foreach featured}}
                <div class="swiper-slide"><a href="{{url}}"><img src="{{image}}" /></a></div>
            {{/foreach}}
        {{/get}}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</header>

<div id="post-index" class="container">

  <main class="content" role="main">

    {{> "loop"}}

  </main>
  <div class="sidebar">
      {{"banner"}}
  </div>

</div>
